.image { 
    width: 20%; 
}

p {
    /* text-align: center; */
    color: rgb(5, 18, 27);
    /* opacity: 0.5; */
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em; 
}

body {
    background-color: #dbc9c9;
}
.sidebar {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 50px;
}
a {
    mar
}